body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .image-item {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .image-item:hover {
    transform: scale(1.1);
  }
  
  .image-item img {
    border-radius: 8px;
  }
  
  #game-details {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }